* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1000px;
    margin: auto;
    font-size: 100px;
    text-align: center;
    height: 400px;
    box-shadow: 0px 0px 2px grey;
    transition: 0.2s;
}
.container:hover{
    box-shadow: 0px 0px 5px grey;
}